[package]
name = "tail-afk"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tail-core = { path = "../tail-core" }
